<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name = "viewport" content = "width = device-width , initial-scale = 1">
<title>My Treasure Archive</title>
<link th:href="@{bootstrap/bootstrap.min.css}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<script th:src="@{js/jquery-3.7.1.min.js}"></script>
<link th:href="@{css/main.css}" rel="stylesheet" />
</head>
<body>
<!-- 메인 페이지 -->
<div class="container-fluid px-5">
    <!-- 헤더 -->
    <div class="row justify-content-center my-3">
        <img th:src="@{/upload/mytreasurearchive/logo.png}" alt="logo" style="width:600px">
    </div>

    <!-- 집전화기 컨테이너 -->
    <div class="phone-container">
        <!-- 화면 영역 (랜덤 이미지) -->
        <div class="phone-screen">
            <img th:src="@{/upload/mytreasurearchive/1.jpg}" alt="random">
        </div>

        <!-- 원형 네비게이션 -->
        <div class="circular-nav">
            <!-- 가운데 ADD 버튼 -->
            <a th:href="@{/addForm}" class="center-btn">ADD</a>

            <!-- 위 SONG -->
            <a th:href="@{/items(category='song')}" class="nav-btn top-btn">SONG</a>

            <!-- 왼쪽 MOVIE -->
            <a th:href="@{/items(category='movie')}" class="nav-btn left-btn">MOVIE</a>

            <!-- 오른쪽 BOOK -->
            <a th:href="@{/items(category='book')}" class="nav-btn right-btn">BOOK</a>

            <!-- 아래 ALL -->
            <a th:href="@{/main}" class="nav-btn bottom-btn">ALL</a>
        </div>

        <!-- 키패드 영역 (리스트 출력) -->
        <div class="phone-keypad">
            <div class="row">
                <div class="col-4" th:each="item : ${itemList}">
                    <div class="card shadow-sm my-3">
                        <div class="square-img my-2">
                            <img th:src="@{/upload/mytreasurearchive/{file}(file=${item.image})}" alt="item image" class="card-img-top">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 맨위로 버튼 -->
    <button class="fixed-top-btn" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });">
        <i class="bi bi-arrow-up"></i>
    </button>
</div>

<script th:src="@{bootstrap/bootstrap.bundle.min.js}"></script>
</body>
</html>